* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background: linear-gradient(to right, #a34237, #140603);
  color: #fafbfc;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: rgb(31, 41, 32);
}

.logo {
  font-weight: bold;
  color: #f0f3f0;
  text-decoration: none;
}

.nav-center a {
  margin: 0 15px;
  text-decoration: none;
  color: #f0f3f0;
}

.nav-center .active {
  color: #06f31a;
  font-weight: 600;
}

.nav-right {
  display: flex;
  gap: 10px;
}

/* Navbar Scroll Effect */
.navbar.scrolled {
  background: #f6f8f6;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

/* Base button style */
.btn {
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 500;
  transition: 0.3s;
}

/* Login button (outline) */
.btn-outline{
  background: #079017;
  color: white;
  border: none;
}

.btn-outline:hover {
  background: #2563EB;
}

/* Register button (primary) */
.btn-primary {
  background: #309728;
  color: white;
  border: none;
}

.btn-primary:hover {
  background: #1E40AF;
}

/* Hero */
.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

.hero p {
  color: #c1cadf;
  margin-bottom: 20px;
}

.search-btn {
  background: #3b82f6;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
}

/* Why Section */
.why {
  padding: 60px;
  text-align: center;
}

.cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
}

.card {
  background: #e5e7eb;
  padding: 25px;
  border-radius: 12px;
  width: 250px;
  color: black;
}

.icon {
  font-size: 30px;
  margin-bottom: 10px;
}

/* Steps */
.steps {
  padding: 60px;
  text-align: center;
}

.step-container {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.circle {
  width: 50px;
  height: 50px;
  background: #3b82f6;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 10px;
}

/* Stats */
.stats {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-top: 50px;
}

.stats dt {
  color: #3b82f6;
  font-size: 28px;
  font-weight: 700;
}

.stats dd {
  margin: 5px 0;
}

/* CTA */
.cta {
  background: linear-gradient(to right, #0d192e, #57428b);
  color: white;
  text-align: center;
  padding: 80px 20px;
}

.cta-buttons {
  margin-top: 20px;
}

.btn-light {
  display: inline-block;
  background: rgb(26, 196, 17);
  color: black;
  padding: 10px 18px;
  border-radius: 8px;
  border: none;
  margin-right: 10px;
  text-decoration: none;
}

.btn-browse {
  display: inline-block;
  background: rgb(26, 196, 17);
  color: black;
  padding: 10px 18px;
  border-radius: 8px;
  border: none;
  margin-right: 10px;
  text-decoration: none;
}
/* Footer */
.footer {
  background: #0f172a;
  color: white;
  padding: 50px;
}

.footer-grid {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.footer h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer p,
.footer a {
  display: block;
  color: #cbd5f5;
  margin: 5px 0;
  text-decoration: none;
}

.copyright {
  text-align: center;
}

/* Loader */
.page-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #ddd;
  border-top: 4px solid #4f46e5;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% { transform: rotate(360deg); }
}
